<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Passionate about empowering humans using technology." />
    <meta name="keywords" content="Daniel Cooper,Daniel,Cooper,danielcooperxyz,software developer,software,programming,code,delivery,blockchain">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header>
        <h3 id="title"><a href="/">Daniel Cooper</a></h3>
        <a href="#" id="mobile-menu">
            <i class="fa fa-bars fa-2x"></i>
        </a>
        <nav>
            <a class="icon" href="https://twitter.com/danielcooperxyz"><i class="fa-brands fa-twitter fa-2x"></i></a>
            <a class="icon" href="https://uk.linkedin.com/in/danielcooperxyz"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            <a class="icon" href="https://github.com/danielcooperxyz"><i class="fa-brands fa-github fa-2x"></i></a>
        </nav>
    </header>
    {{ content }}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-79056100-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>